:root[data-theme='light'] {
  --color-primary: #0070f3;
  --color-primary-dark: #0051c6;
  --color-primary-light: #66a3ff;
  --color-secondary: #7928ca;
  --color-background: #ffffff;
  --color-surface: #f5f5f5;
  --color-header-bg: #f9f9f9;
  --color-filter-bg: #fafafa;
  --color-input-bg: #ffffff;

  --color-text: #000000;
  --color-muted: #555;

  --color-border: #ccc;
  --color-row-border: #eee;
  --color-input-border: #ccc;

  --color-hover: #f0f7ff;
  --color-on-primary: #ffffff;

  --color-sidebar: #2c3e50;
  --color-nav-hover: #34495e;
  --color-nav-active: #1abc9c;
  --color-nav-text: #ecf0f1;

  --color-scrollbar-thumb: #ccc;
  --color-scrollbar-thumb-hover: #999;
}


:root[data-theme='dark'] {
  --color-primary: #3291ff;
  --color-primary-dark: #1d75e5;
  --color-primary-light: #66b3ff;
  --color-secondary: #ff0080;
  --color-background: #000000;
  --color-surface: #1e1e1e;
  --color-header-bg: #2a2a2a;
  --color-filter-bg: #2e2e2e;
  --color-input-bg: #2b2b2b;

  --color-text: #ffffff;
  --color-muted: #bbbbbb;

  --color-border: #444;
  --color-row-border: #333;
  --color-input-border: #555;

  --color-hover: #1a2a40;
  --color-on-primary: #ffffff;

  --color-sidebar: #1e1e1e;
  --color-nav-hover: #2c3e50;
  --color-nav-active: #1abc9c;
  --color-nav-text: #ffffff;

  --color-scrollbar-thumb: #555;
  --color-scrollbar-thumb-hover: #777;
}


:root[data-theme='custom-red'] {
  --color-primary: #e63946;
  --color-primary-dark: #ba2d3a;
  --color-primary-light: #ff7b86;
  --color-secondary: #f1faee;
  --color-background: #1d3557;
  --color-surface: #457b9d;
  --color-header-bg: #a8dadc;
  --color-filter-bg: #f1faee;
  --color-input-bg: #f1faee;

  --color-text: #f1faee;
  --color-muted: #e5e5e5;

  --color-border: #e0e0e0;
  --color-row-border: #ccc;
  --color-input-border: #ccc;

  --color-hover: #ffcad4;
  --color-on-primary: #ffffff;

  --color-sidebar: #e63946;
  --color-nav-hover: #a4161a;
  --color-nav-active: #f1faee;
  --color-nav-text: #ffffff;

  --color-scrollbar-thumb: #ccc;
  --color-scrollbar-thumb-hover: #999;
}
